
.m1 {
      margin: 10px;
}

.bg-btn{
      background: #71CFFF;
}
.bg-web{
      background: #193549;
}
.color-gray-light{
      color: #9F9F9F;
  }
.fs-14{
      font-size:14px;
}
.text-medium{
      font-weight: 600
}
/*----font Noto sans-----*/
@font-face{
      src:url(../font/NotoSans-Regular.ttf);
      font-family: NotoSans;
}
@font-face{
      src:url(../font/NotoSans-Bold.ttf);
      font-family: NotoSansBold;
}
.text-noto-b{
      font-family:NotoSansBold;
}
.text-noto-re{
      font-family:NotoSans;
}
.clear{
      clear: both;
}

/*----font Roboto-----*/
@font-face{
      src:url(../font/Roboto-Medium.ttf);
      font-family: RobotoMedium;
}
@font-face{
      src:url(../font/Roboto-Regular.ttf);
      font-family: RobotoRegular;
}

.text-roboto-m{
      font-family:RobotoMedium;
}
.text-roboto-re{
      font-family:RobotoRegular;
}


/*-----font Work Sans-----*/
@font-face{
      src:url(../font/font-work-sans/WorkSans-Light.otf);
      font-family: WorkSansLight;
}
.text-worksans-l{
      font-family: WorkSansLight;
}
@font-face{
      src:url(../font/font-work-sans/WorkSans-Regular.otf);
      font-family: WorkSansRegular;
}
.text-worksans-re{
      font-family: WorkSansRegular;
}