
.m1 {
      margin: 10px;
}

.bg-btn{
      background: #71CFFF;
}
.bg-web{
      background: #193549;
}
.fs-14{
      font-size:14px;
}
.text-medium{
      font-weight: 600
}

.clear{
      clear: both;
}

.mx-120 {
      margin-left: 120px;
      margin-right: 120px;
}