<<<<<<< HEAD

.m1 {
      margin: 10px;
}

.bg-btn{
      background: #71CFFF;
}
.bg-web{
      background: #193549;
}
.color-gray-light{
      color: #9F9F9F;
  }
.fs-14{
      font-size:14px;
}
.text-medium{
      font-weight: 600
}
/*----font Noto sans-----*/
=======
/* ========== Add Fonts ========== */
/*---- Noto Sans -----*/
@font-face {
      font-family: 'Noto Sans Bold';
      src: url('../font/NotoSans/NotoSans-Bold.woff2') format('woff2'),
           url('../font/NotoSans/NotoSans-Bold.woff') format('woff'),
           url('../font/NotoSans/NotoSans-Bold.ttf') format('ttf');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
}
@font-face {
      font-family: 'Noto Sans Regular';
      src: url('../font/NotoSans/NotoSans.woff2') format('woff2'),
           url('../font/NotoSans/NotoSans.woff') format('woff'),
           url('../font/NotoSans/NotoSans-Regular.ttf') format('ttf');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
}
@font-face {
      font-family: 'Noto Sans Bold Italic';
      src: url('../font/NotoSans/NotoSans-BoldItalic.woff2') format('woff2'),
           url('../font/NotoSans/NotoSans-BoldItalic.woff') format('woff'),
           url('../font/NotoSans/NotoSans-BoldItalic.ttf') format('ttf');
      font-weight: bold;
      font-style: italic;
      font-display: swap;
}
@font-face {
      font-family: 'Noto Sans Italic';
      src: url('../font/NotoSans/NotoSans-Italic.woff2') format('woff2'),
           url('../font/NotoSans/NotoSans-Italic.woff') format('woff'),
           url('../font/NotoSans/NotoSans-Italic.ttf') format('ttf');
      font-weight: normal;
      font-style: italic;
      font-display: swap;
}
  
      
>>>>>>> 69863b610465620e7c2817ed3400266721a5c75e
@font-face{
      src: url(../font/NotoSans-Regular.ttf);
      font-family: NotoSans;
}

@font-face{
      src: url(../font/NotoSans-Bold.ttf);
      font-family: NotoSansBold;
}


/*----font Roboto-----*/
@font-face{
      src:url(../font/Roboto-Medium.ttf);
      font-family: RobotoMedium;
}
@font-face{
      src:url(../font/Roboto-Regular.ttf);
      font-family: RobotoRegular;
}

.text-roboto-m{
      font-family:RobotoMedium;
}
.text-roboto-re{
      font-family:RobotoRegular;
}


/*-----font Work Sans-----*/
@font-face{
      src:url(../font/font-work-sans/WorkSans-Light.otf);
      font-family: WorkSansLight;
}
.text-worksans-l{
      font-family: WorkSansLight;
}
@font-face{
      src:url(../font/font-work-sans/WorkSans-Regular.otf);
      font-family: WorkSansRegular;
}
.text-worksans-re{
      font-family: WorkSansRegular;
}


.m1 {
      margin: 10px;
}

.bg-btn{
      background: #71CFFF;
}
.bg-web{
      background: #193549;
}
.fs-14{
      font-size:14px;
}
.text-medium{
      font-weight: 600
}

.text-noto-b{
      font-family:NotoSansBold;
}
.text-noto-re{
      font-family:NotoSans;
}
.clear{
      clear: both;
}

/* ========== Custom Font Family ========== */
/* ---------- Noto Sans ---------- */
.font-NotoSans-Bold {
      font-family: 'Noto Sans Bold';
}
.font-NotoSans-BoldItalic {
      font-family: 'Noto Sans Bold Italic';
}
.font-NotoSans-Italic {
      font-family: 'Noto Sans Italic';
}
.font-NotoSans-Regular {
      font-family: 'Noto Sans Regular';
}