
.m1 {
      margin: 10px;
}
.bg-btn{
      background: #71CFFF;
}
.bg-web{
      background: #193549;
}
.fs-14{
      font-size:14px;
}

@font-face{
      src:url(../font/NotoSans-Regular.ttf);
      font-family: NotoSans;
}
@font-face{
      src:url(../font/NotoSans-Bold.ttf);
      font-family: NotoSansBold;
  }
.text-noto-b{
      font-family:NotoSansBold
}