@font-face{
    src:url(../font/NotoSans-Regular.ttf);
    font-family: NotoSans;
}
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/*header----------------------------*/
header{
    background: #193549;
}
.header{
    height:60px
}
.img-logo{
    width:40px;
    height: 40px;
}
.nav-menu{
    font-family: NotoSans;
    letter-spacing:0.5px;
    font-weight:400;
    font-size: 14px;
}
.btn-employer{
    font-family: NotoSans;
    font-weight: 600;
    color: #193549;
}
.icon-menu{
    display:none; 
}
.icon-close{
    display: none;
}
.over {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 99;
}
@media(min-width:768px){
    .over {
        display:none !important;
    }
    //reset sợ lỗi :v
}
@media(min-width: 992px) and (max-width:1199px){
    .row{
        padding:0
    }
    
}
@media(min-width: 768px) and (max-width:991px){
    .row{
        --bs-gutter-x:0
    }
    
    .name{
        font-size:14px !important;
    }
    .nav-menu, .sign-up a{
        font-size: 12px !important;
        letter-spacing:0;
    }
    .sign-up a{
        margin-right:2px !important;
    }
    .btn-employer{
        font-size:12px !important;
    }
}

@media (max-width: 767px){
    .name{
        font-size:14px;
    }
    .nav{
        display:none;
        position:fixed;
        right:0px;
        background: #193549;
        padding: 10px 8px;
        padding-bottom: 50vh;
        z-index: 100;
    }
    .icon-menu{
        display:flex;
    }
    .icon-close{
        display: block;
    }
    .icon-menu img{
        width: 20px;
        height:20px;
        margin-left: calc(100% - 20px);
    }
    .nav-menu ul li{
        display: block !important;
        height:40px;
    }
    
    .sign-up a{
        display:block;
        height:40px
    }
    .sign-up,
    .nav-menu{
        border-bottom: #fff 1px solid;
        margin: 0 12px;
        padding: 0;
    }
    .sign-up{
        margin-top: 20px
    }
    .icon-close{
        height: 70px;
    }
    .btn-employer{
        margin: 30px 0;
    }
    .icon-close img{
        width:20px;
        height:20px;
        float: right;
    }
    .nav-menu ul{
        padding-left:0 !important;
    }
    
}
/* end full header*/
/*----------search------------*/
.search-job {
    background-color:#E5F2F9;
    border-radius: 6px;
    border: #B1B2CD 1px solid;
}
.input-sr:focus{
    outline:none;
}
.search-job input::placeholder{
    color: rgba(43, 49, 180, 0.53);
    font-size: 14px;
    font-family:NotoSans;
}
.search-location{
    background-color:#FEF2DE;
    border-radius: 6px;
    border: #CCCCCC 1px solid;
}
.search-location input::placeholder{
    color: rgba(114, 88, 49, 0.46);
    font-size: 14px;
    font-family:NotoSans;
}
.btn-search{
    width: calc(100% - 80% - 5%);
}
@media (max-width: 767px){
    .btn-search{
        width: 100%;
        padding:0;
    }
    .btn-search button{
        padding: 6px;
    }
}
/*----------search------------*/
.review{
    overflow: hidden;
    position: relative;
}
.register-adv button{      
    width:30%
}
.review-card{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
    border-radius: 6px;
    min-height: 185px;
}
.review-content{
    text-align:justify;
}
.card-shadow{
    position:absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(243, 243, 243);
    border-radius: 6px;
    z-index:-1;
}
.img-quote img{
    transform: rotate(180deg);
}
.img-quote{
    top:0;
    right:28px;
    width:26px;
    transform:translateY(-13px);
}
.nav-button{
    color: #3882D9;
    background: rgba(166, 234, 255, 0.52);
    cursor: pointer;
}
.nav-button::hover{
    background:#193549;
    color: #fff;
}
.review-item:not(:first-child) {
    /* Hide all images except the first */
    display: none;
}