@font-face{
    src:url(../font/NotoSans-Regular.ttf);
    font-family: NotoSans;
}
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/*header----------------------------*/
header{
    background: #193549;
}
.header{
    height:60px
}
.img-logo{
    width:40px;
    height: 40px;
}
.nav-menu{
    font-family: NotoSans;
    letter-spacing:0.5px;
    font-weight:400;
    font-size: 14px;
}
.btn-employer{
    font-family: NotoSans;
    font-weight: 600;
    color: #193549;
}
.icon-menu{
    display:none; 
}
.icon-close{
    display: none;
}
.over {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 99;
}
@media(min-width:768px){
    .over {
        display:none !important;
    }
    //reset sợ lỗi :v
}
@media(min-width: 992px) and (max-width:1199px){
    .row{
        padding:0
    }
    
}
@media(min-width: 768px) and (max-width:991px){
    .row{
        --bs-gutter-x:0
    }
    
    .name{
        font-size:14px !important;
    }
    .nav-menu, .sign-up a{
        font-size: 12px !important;
        letter-spacing:0;
    }
    .sign-up a{
        margin-right:2px !important;
    }
    .btn-employer{
        font-size:12px !important;
    }
}

@media (max-width: 767px){
    .name{
        font-size:14px;
    }
    .nav{
        display:none;
        position:fixed;
        right:0px;
        background: #193549;
        padding: 10px 8px;
        padding-bottom: 50vh;
        z-index: 100;
    }
    .icon-menu{
        display:flex;
    }
    .icon-close{
        display: block;
    }
    .icon-menu img{
        width: 20px;
        height:20px;
        margin-left: calc(100% - 20px);
    }
    .nav-menu ul li{
        display: block !important;
        height:40px;
    }
    
    .sign-up a{
        display:block;
        height:40px
    }
    .sign-up,
    .nav-menu{
        border-bottom: #fff 1px solid;
        margin: 0 12px;
        padding: 0;
    }
    .sign-up{
        margin-top: 20px
    }
    .icon-close{
        height: 70px;
    }
    .btn-employer{
        margin: 30px 0;
    }
    .icon-close img{
        width:20px;
        height:20px;
        float: right;
    }
    .nav-menu ul{
        padding-left:0 !important;
    }
    
}
/* end full header*/
/*----------search------------*/
.search-job {
    background-color:#E5F2F9;
    border-radius: 6px;
    border: #B1B2CD 1px solid;
}
.input-sr:focus{
    outline:none;
}
.search-job input::placeholder{
    color: rgba(43, 49, 180, 0.53);
    font-size: 14px;
    font-family:NotoSans;
}
.search-location{
    background-color:#FEF2DE;
    border-radius: 6px;
    border: #CCCCCC 1px solid;
}
.search-location input::placeholder{
    color: rgba(114, 88, 49, 0.46);
    font-size: 14px;
    font-family:NotoSans;
}
.btn-search{
    width: calc(100% - 80% - 5%);
}
@media (max-width: 767px){
    .btn-search{
        width: 100%;
        padding:0;
    }
    .btn-search button{
        padding: 6px;
    }
}
/*----------search------------*/
.review{
    overflow: hidden;
    position: relative;
}
.register-adv button{      
    width:30%
}
.review-card{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
    border-radius: 6px;
    min-height: 185px;
}
.review-content{
    text-align:justify;
}
.card-shadow{
    position:absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(243, 243, 243);
    border-radius: 6px;
    z-index:-1;
}
.img-quote img{
    transform: rotate(180deg);
}
.img-quote{
    top:0;
    right:28px;
    width:26px;
    transform:translateY(-13px);
}
.nav-button{
    color: #3882D9;
    background: rgba(166, 234, 255, 0.52);
    cursor: pointer;
}
.nav-button::hover{
    background:#193549;
    color: #fff;
}
.review-item:not(:first-child) {
    /* Hide all images except the first */
    display: none;
}
.review-item{
    transition:2s;
}
.card-number-member{
    border: 1px solid rgba(0, 35, 158, 0.4);
    color: #00239E;
    font-family:NotoSans;
}
.card-number-member h2{
    color: #EC5211;
}
/*list job*/
.job-introduce{
    background: url("../image/hello/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2.5rem;
    background-attachment: fixed;

}
.list-job ul li{
    padding: 12px 6px;
    color: #fff;
    border-bottom: #ccc 1px solid;
    cursor:pointer;
}
.list-job, .job-information{
    background: rgba(0, 0, 0, 0.58);
}
.job-information{
    padding: 2rem 5rem;
}
.job-information h2{
    border-bottom: #fff 1px solid;
}
.img-introduce img{
    width: 100%;
    height: 100%;
}
.frame-swiper{
    overflow: hidden;
}
.wiper-slide{
    margin-right: 48px;
}
.color-red{
    color:#EC1111;
}
.select-job{
    display:none;
}
/*Responsive job-list*/
@media(max-width: 767px){
    .list-job{
        display: none;
    }
    .select-job{
        display:block;
    }
    .job-information{
        padding:2rem;
    }
}


/* lợi ích nhận được khi THAM GIA*/
.icon-benefit {
    border-radius: 50%;
    padding: 2vw;
    transform: translate(50%, -50%);
    right: 50%;
}
.list-benefit{
    margin-top: 8rem;
}
.list-benefit h4{
    margin-top: 4.5rem;
    line-height: 1.75rem;
}
.list-benefit p{
    text-align:justify;
}
.benefit-item{
    height: 348px;
    border-radius:14px;
}
.benefit-item:hover{
    transform: translateY(-26px);
    transition: 1s;
}
/* Responsive */

@media(min-width: 768px) and (max-width: 991px){
    .benefit-item{
        width: 30%;
    }
}
@media(min-width: 576px) and (max-width: 767px){
    .benefit-item{
        width: 45%;
    }
    .mt-10{
        margin-top: 5rem;
  }
}
@media(max-width: 576px){
    .benefit-item{
        width: 60%;
    }
    .list-benefit{
        justify-content: center !important;
    }
    .mt-10s{
        margin-top: 5rem;
  }
}
/*người dùng review*/
.user-review span{
    color:#EC5211;
}
.img-small{
    width:56px;
    border-radius:50%;
}
.img-big{
    width:75px;
    border-radius:50%;
}
.img-small img{
    transform:translateY(50%);
}
.img-small .over-img{
    background:rgba(43, 41, 159, 0.74);
    transform:translateY(50%);
    width:56px;
    height:56.7px;
    border-radius: 50%;
    z-index:1;
}
.rv-content{
    margin:0 15%;
}
#previous-rv{
    left:0px;
    top:50%;
    cursor:pointer;
}
#next-rv{
    right: 0px;
    top:50%;
    cursor:pointer;
}
.user-review-item{
    transition:1s;
    margin-top:40px;
}
.user-review{
    height:50vh;
}
.user-review-item:not(:first-child) {
    /* Hide all images except the first */
    display: none;
}